/build/
/WebContent/WEB-INF/lib/
/WebContent/jquery-*.js
/WebContent/bootstrap-*
/WebContent/popper*.js
/WebContent/db
/WebContent/openlayersmap/*
!/WebContent/openlayersmap/util/
/src/repository/Test.java
/openlayersmaps/node_modules/
/openlayersmaps/dist/
/openlayersmaps/.cache